* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 384px;
}

.screen {
    width: 100%;
    font-size: 6rem;
    color: white;
    text-align: right;
}

.unit {
    width: calc(384px / 4);
    height: calc(384px / 4);
    box-sizing: border-box;
    padding: 4px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    border: 0;
    outline: 0;
    font-size: 2rem;
    color: white;
    background-color: #3a3a3a;
}

button:active {
    background-color: #2d2d2d;
}

button.operator {
    background-color: #ff9f0a;
}

button.operator:active {
    background-color: #df8908;
}

button.three {
    background-color: #a5a5a5;
    color: #222;
}

button.three:active {
    background-color: #808080;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}